


.card-body{
    margin: 10px 20px;
    
}

.cardC{
    /*height: 150px;*/
    transition: transform 0.3s ease-in-out;
}




.cardC:hover {
    transform: scale(1.04);
}
.cardGrafico{
    /*height:300px;*/
    transition: transform 0.3s ease-in-out;
}

.cardGrafico:hover{
    transform: scale(1.04);
}
.card{
    border: none;
}



.c1, .c2{
    height: 300px;
}

.c3{
    height: 150px;
}

.c4{
    height: 470px;
}

.btn.dropdown-toggle.arrow-none::after{
    display:none;
}

a{
    text-decoration: none;
    color: black;
}

/*CORREO*/

.email-list{
    list-style-type: none; /* Remueve bullets o puntos de la lista */
}

.email-list li{
    padding: 10px 0;
}

li .unread{
    display: flex;
    flex-direction: row;
}


form .my-dropzone{
    border: 1px dotted #000;
}

ul{
    list-style-type: none;
}



